<!--FEATURES-->
<section id="features">
<div class="about-cryptency burger dark-template-light-bg">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12 text-center wow fadeIn" data-wow-delay=".4s" data-wow-duration=".4s">
            <h1 class="wow fadeInUp text-center" data-wow-delay=".5s" data-wow-duration=".5s">Migrate your existing application to our platform</h1>
            <p style="font-size: 14pt;" class="wow fadeInUp" data-wow-delay=".6s" data-wow-duration=".6s">We can migrate your existing application to its very own private ProximaX network. You need minimal knowledge of blockchain technology, as it is completely driven by a service layer with good SDK support, and a web-service architecture.  
            </p>
            </div>
        </div>
    </div>
</div>
</section>

<section class="burger bg-lightgreen fullheight" id="features" >
<div class="row1">
        <div class="columnText">
            <img src="images/kyc/government.png" alt="" class="featureIMG">
            <h2 class="wow fadeInUp featureTextHeader" data-wow-delay=".5s" data-wow-duration="1s">Government Identity Record Systems</h2>
            <div class="wow fadeInUp" data-wow-delay=".6s" data-wow-duration=".6s">
            <p class="big-pera featureTextSub">Zero-downtime and prevent data loss, with the ability to create digital identities.</p>
            </div>
        </div>
        <div class="column">
            <img src="images/kyc/p1.jpg"/>
        </div>
</div>
</section>

<section class="burger imgBackground" id="features" >
<div class="container" style="z-index: 5">
    <div class="row align-item-center" >
        <div class="columnRight features-text wow fadeIn" style="margin-top:10%;padding:5%;z-index: 10;color:white;background-color: rgb(6,160,155,0.8);position:relative;text-align: right;">
            <img src="images/kyc/industrylevel.png" alt="" class="featureIMG2">
            <h2 class="wow fadeInUp featureTextHeader" data-wow-delay=".5s" data-wow-duration="1s">Industry Level KYC Sharing</h2>
            <div class="wow fadeInUp" data-wow-delay=".6s" data-wow-duration=".6s">
            <p class="big-pera featureTextSub">Ability to share KYC records on a permission-basis with your industry counterparts</p>
            </div>
        </div>
    </div>
</div>
</section>

<section class="burger bg-lightgreen fullheight" id="features" >
<div class="row1">
        <div class="columnText">
            <img src="images/kyc/serviceprovider.png" alt="" class="featureIMG">
            <h2 class="wow fadeInUp featureTextHeader" data-wow-delay=".5s" data-wow-duration="1s">Service Provider Solution</h2>
            <div class="wow fadeInUp" data-wow-delay=".6s" data-wow-duration=".6s">
            <p class="big-pera featureTextSub">Stand out and rise above the competition by adding the benefits of blockchain technology to your solution.</p>
            </div> 
        </div>
        <div class="column">
            <img src="images/kyc/p3.jpg"/>
        </div>
</div>
</section>

<section class="burger imgBackground2" id="features" >
<div class="container" style="z-index: 5">
    <div class="row align-item-center" >
        <div class="columnRight features-text wow fadeIn text-center" style="margin-top:10%;padding:5%;z-index: 10;color:white;background-color: rgb(6,160,155,0.8);position:relative;text-align: right;">
            <img src="images/kyc/counterparty.png" alt="" class="featureIMG2">
            <h2 class="wow fadeInUp featureTextHeader" data-wow-delay=".5s" data-wow-duration="1s">Counterparty Onboarding</h2>
            <div class="wow fadeInUp" data-wow-delay=".6s" data-wow-duration=".6s">
            <p class="big-pera featureTextSub">Secure enterprise record-keeping; a cost-effective replacement to legacy systems</p>
            </div>
        </div>
    </div>
</div>
</section>


<section class=" burger bg-lightgreen deviceRow">
<div class="col-lg-12 text-center gifs-text">
    <h1 class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">ProximaX KYC App</h1>
    <p class="wow fadeInUp deviceRowSubText">As well as providing a platform for integration with existing third-party applications, we have built our own counterparty onboarding app ready for commercial use.</p>
</div>

<div class="row1">
        <div class="columnText">
            <p class="kycgifBeforeText wow fadeInUp" data-wow-delay=".5s" data-wow-duration=".5s">Simple and Intuitive </p>
            <h2 class="wow fadeInUp kycgifTextHeader" data-wow-delay=".6s" data-wow-duration=".6s">Easy Onboarding, Fast Adoption </h2>
            <div class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration=".7s">
            <p class="big-pera kycgifTextSub">The KYC App can be quickly customised to meet your KYC requirements. Easily add in new fields and tailor user upload requests.</p>
            </div>
        </div>
        <div class="columnGif parent mobil">
            <img src="images/laptop.png" class='gif-holder' alt="whitepaper">
            <img src="images/easy2.gif" class='gif-inside' alt="whitepaper">
        </div>
</div>
</section>

<section class=" burger bg-white deviceRow"  style="background-image:url('images/connect2.png');">
<div class="row1">
        <div class="columnGif2 parent ipad">
            <img src="images/laptop.png" class='gif-holder' alt="whitepaper">
            <img src="images/endtoend2.gif" class='gif-inside' alt="whitepaper">
        </div>
        <div class="columnText2">
            <p class="kycgifBeforeText wow fadeInUp" data-wow-delay=".5s" data-wow-duration=".5s">Fast Processing Time</p>
            <h2 class="wow fadeInUp kycgifTextHeader" data-wow-delay=".6s" data-wow-duration=".6s">End-To-End Workflow</h2>
            <div class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration=".7s">
            <p class="big-pera kycgifTextSub">Collect KYC from your counterparties, perform your due diligence checks, escalate when needed, approve or reject.</p>
            </div>
        </div>
</div>
</section>

<section class=" burger bg-lightgreen deviceRow">
<div class="row1">
        <div class="columnText">
            <p class="kycgifBeforeText wow fadeInUp" data-wow-delay=".5s" data-wow-duration=".5s">Easy Integration</p>
            <h2 class="wow fadeInUp kycgifTextHeader" data-wow-delay=".6s" data-wow-duration=".6s">Regtech of Your Choice</h2>
            <div class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration=".7s">
            <p class="big-pera kycgifTextSub">Choose from our available list of service providers the RegTech that you need which includes screening, facial recognition, optical character recognition, credit checks, blockchain forensics analytics, and much more. </p>
            </div>
        </div>
        <div class="columnGif parent mobil">
            <img src="images/laptop.png" class='gif-holder' alt="whitepaper">
            <img src="images/regtech2.gif" class='gif-inside' alt="whitepaper">
        </div>
</div>
</section>

<section class=" burger bg-white deviceRow" style="background-image:url('images/fingerprint.png');">
<div class="row1">
        <div class="columnGifm parent ipad">
            <img src="images/iphone4.gif" class='gif-inside-m' alt="whitepaper">
            <img src="images/iphone.png" class='gif-holder-m' alt="whitepaper">
        </div>
        <div class="columnText2">
            <p class="kycgifBeforeText wow fadeInUp" data-wow-delay=".5s" data-wow-duration=".5s">Permission-Based</p>
            <h2 class="wow fadeInUp kycgifTextHeader" data-wow-delay=".6s" data-wow-duration=".6s">Identity Management</h2>
            <div class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration=".7s">
            <p class="big-pera kycgifTextSub">Securely manage who can access your KYC
                    records, track how long they have access for, and
                    permanently delete your records following the
                    expiry date of the data retention period.</p>
            <p class="big-pera kycgifTextSub"><i>For Version 2</i></p>
            </div>
        </div>
</div>
</section>

<section class="burger dark-template-bg-gray" id="partners" >
<div class="container text-center">
    <h5 class="mb5 wow fadeInUp" style="font-size:14pt;" data-wow-delay=".5s" data-wow-duration="1s">By ProximaX KYC App utilising the ProximaX platform, it facilitates secure handling of data and data sovereignty. This new form of identity management gives individuals control over their personal data and allows them to share information only with trusted parties on a permission-basis. Selective data sharing ensures privacy and reduces the risk of identity theft.</h5>
</div>
</section>