<!--GDPR-->
<section class="burger bg-lightgreen fullheight" id="gdpr" >
    <div class="row1">
            <div class="columnTextGDPR wow fadeIn">
                <h2 class="wow fadeInUp gdprtextHeader" data-wow-delay=".5s" data-wow-duration=".5s">What About <img class='gdprimage' src="images/GDPR.png" alt="gdpr">?</h2>
                <div class="wow fadeInUp" data-wow-delay=".6s" data-wow-duration=".6s">
                        <p class="gdprtext">Although blockchain technology has the ability to realise the underlining objectives laid out in the GDPR (EU General Data Protection Regulation), current European law classifies encrypted and hashed data, as well as public keys, as personal data. By default, blockchain technology stores these as an immutable record; they cannot be deleted. For this reason, we have available a GDPR-compliant hybrid architecture, which is a distributed file management system linked together with a MongoDB database to do the job.
                        </p>
                </div>
            </div>
            <div class="column">
                <img src="images/gdpr.jpg"/>
            </div>
    </div>
</section>