<!--BANNER-->
<section id="home">
<div class="bannerkyc burger  align-item-center parallax">
    <video  autoplay loop="loop" id="video-background" preload="auto" muted playsinline class="video-background">
        <source src="images/kyc/video2.mp4" type="video/mp4" /> 
    </video>
    <div class="container" style="z-index: 5">
        <div class="row">
            <div class="col-lg-12 text-center">
            <div >
                <img class="img-banner-logo wow fadeInUp bannerlogo" data-wow-delay=".2s" data-wow-duration=".2s" src="images/logos/kyclogo.png" />
                <h1 class="big-pera wow fadeInUp banner-header" data-wow-delay=".3s" data-wow-duration=".3s">Blockchain Powered Onboarding & Identity Management </h1>
                <h4 class="big-pera wow fadeInUp banner-headerp" data-wow-delay=".4s" data-wow-duration=".4s">Secure.  Private.  Permission-based.</h4>
            </div>
            </div>
        </div>
    </div>
</div>
</section>