<!--HOW DOES IT WORK?-->
<section class="burger dark-template-light-bg" id="team" style="background-image:url('images/linear-bg.png');" > 
    <div class="container" style="z-index: 5">
        <h2 class="mb5 wow fadeInUp text-center" data-wow-delay=".5s" data-wow-duration=".5s">How Does the KYC App Work?</h2>
        <div class="row text-center">
            <img src="images/kyc/blockchainChart.png" class="howto-image wow fadeInUp text-center" data-wow-delay=".6s" data-wow-duration=".6s" alt="whitepaper">
        </div>
        
        <div class="row">
        <p style="font-size: 1.3em;margin:5% 5% 1% 5%;padding-top: 5%;" class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration=".7s">Central to any KYC application is the way the KYC data is managed. In the scenario that a customer is uploading a passport copy, the file is sharded (a process to break up KYC data) and each piece is encrypted and stored into multiple and distributed nodes. 
        <br/><br/>To re-assemble and grant access to onboarding teams, the customer uses a private key (similar to a password). The beauty of ProximaX KYC is that when one node becomes unavailable, the next nearest available node will instantaneously take its place, thus ensuring zero-downtime. 
        <br/><br/>Privacy is maintained through pseudonymisation by using a combination of a public key (concealing the individual’s identity) and a cryptographically unique hash for the KYC file (akin to fingerprint).
        <br/><br/>The blockchain at the core is used as a secure and incorruptible index to locate and manage KYC data. A distributed file management system and a distributed database are used to store the KYC data.
        </p>
        </div>
    </div>
</section>