<!--PLATFORM-->
<section id="platform">
    <div class="about-cryptency burger bg-darkgreen">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12 text-center wow fadeIn" data-wow-delay=".2s" data-wow-duration=".2s">
                <p style="font-size: 14pt;" class="wow fadeIn" data-wow-delay=".3s" data-wow-duration=".3s">The ProximaX platform, powered by blockchain, with its
                    distributed and decentralised database, storage and streaming
                    layers, provides improved security and privacy for storing and
                    managing sensitive identity records compared to traditional
                    centralised architectures, and at a substantial reduction in cost.
                    Our platform offers the opportunity for an advanced permission-based
                    access to identity records, enabling greater control
                    and ownership over personal data. Deployed together is the
                    encryption technology which further protects the integrity of all
                    data utilising ProximaX KYC.
                </p>
                </div>
            </div>
        </div>
    </div>
</section>