<!DOCTYPE html>
<html>
<% include ../partials/header %>

<body  data-target=".navbar" data-offset="82">
   <% include ../partials/nav %>
   <% include ../partials/home %>
   <% include ../partials/platform %>
   <% include ../partials/features %>
   <% include ../partials/how-does-it-work %>
   <% include ../partials/gdpr %>
   <% include ../partials/usecases %>
   <% include ../partials/about %>
   <% include ../partials/contact %>
   <% include ../partials/footer %>
   <% include ../partials/scripts %>
</body>
</html>